{% load static %}

<!DOCTYPE html>

<html lang="en">
    <head>
        <title>Register - Social Network</title>

        <link href="{% static 'network/logo/favicon.ico' %}" rel="icon">

        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

        <link href="{% static 'network/styles/login.css' %}" rel="stylesheet">

        <script src="{% static 'network/scripts/register.js' %}"></script>
    </head>

    <body>
        <div class="logo-container">
            <a title="Home" class="logo" href="{% url 'index' %}">
                <div class="logo-image-container">
                    <img class="logo-image" src="{% static 'network/logo/favicon.ico' %}">
                </div>

                <div class="brand-name">
                    Network
                </div>
            </a>
        </div>

        <div class="container">
            <h2>Register</h2>

            {% if message %}
                <p class="message">{{ message }}</p>
            {% endif %}

            <form action="{% url 'register' %}" method="post">
                {% csrf_token %}
                <div class="form-group">
                    <input class="form-control" required autofocus type="text" name="username" placeholder="Username">
                </div>
                <div class="form-group">
                    <input class="form-control" required type="email" name="email" placeholder="Email Address">
                </div>
                <div class="form-group">
                    <input class="form-control pwd password" required type="password" name="password" placeholder="Password">
                </div>
                <div class="form-group">
                    <input class="form-control pwd confirm" required type="password" name="confirmation" placeholder="Confirm Password">
                </div>
                <div class="form-group password-validation">
                    <p id="pwd-8-char">Password must be at least 8 characters long</p>
                    <p id="pwd-uppercase">Password must contain at least one uppercase character</p>
                    <p id="pwd-lowercase">Password must contain at least one lowercase character</p>
                    <p id="pwd-digit">Password must contain at least one digit</p>
                    <p id="pwd-match">Passwords must match</p>
                </div>
                <input class="btn btn-primary submit-btn" type="submit" value="Register">
            </form>

            Already have an account? <a href="{% url 'login' %}">Log In here.</a>
        </div>
    </body>
</html>