.logo-container {
    display: flex;
    justify-content: center;
    padding: 2em;
}

.logo, .logo-image-container, .brand-name {
    display: inline-flex;
    justify-content: center;
}

.logo {
    padding: .5em;
    height: 48px;
}

.logo-image-container, .brand-name {
    justify-content: center;
    align-items: center;
}

.brand-name {
    margin-left: 1em;
}

.logo:hover, .submit-btn:hover {
    transform: scale(1.1);
}

.message {
    color:rgb(95, 10, 10);
    background-color: rgba(255, 16, 16, 0.5);
    border-radius: 3px;
    padding-left: 1em;
}

.submit-btn {
    margin-bottom: .5em;
}

.logo:hover {
    border: 2px solid;
    text-decoration: none;
}

.password-validation {
    display: none;
}

#pwd-8-char, #pwd-uppercase, #pwd-lowercase, #pwd-digit, #pwd-match {
    margin-bottom: 8px;
    border-radius: 3px;
    padding-left: 1em;
}